@import url("https://fonts.googleapis.com/css2?family=Glory&display=swap");

.reviewView {
  font-family: "Glory", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
}

.backButton {
  text-align: left;
  align-self: flex-start;
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: none;
  background: none;
  cursor: pointer;
}

.reviewView p {
  margin-top: 0px;
  text-align: center;
  color: #3a5180;
  font-size: 50px;
  font-weight: bold;
}

.reviewView .wordListItem {
  font-family: "Glory", sans-serif;
  font-size: 30px;
  width: 800px;
}
