/* .box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: white;
 
} */

.box button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: white;
  justify-content: center;
  border: none;
}

table {
  border-spacing: 10px;
  background: white;
  border-radius: 12px;
  padding: 40px;
}

.audioButtonReview {
  border: none;
  cursor: pointer;
  font-size: 45px;
  height: 10px;
  background: none;
}

.audioButton {
  border: none;
  cursor: pointer;
  font-size: 30px;
  background: none;
}
